<div class="w-full h-full flex flex-col gap-6">
    @if (transfers.hasValue()) {
        @let list = transfers.value();
        @if (list.length) {
                <section class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
                @for (ts of list; track ts.id) {
                    <app-transfer-card [summary]="ts"></app-transfer-card>
                }
                </section>
            } @else {
                <p class="text-app-text-secondary">No hay transferencias que mostrar</p>
            }
        } @else if (transfers.isLoading()) {
            <div class="w-full h-full flex justify-center items-center">
                <svg lucideLoaderCircle [size]="64" class="text-app-indigo-600 animate-spin"></svg>
            </div>
        } @else if (transfers.error()) {
            <p class="flex items-center gap-2 text-app-text-secondary">
                <svg lucideFaceSlightlyFrowning [size]="18"></svg>
                Hubo un error al buscar las transferencias.
            </p>
        }
</div>

