<div class="fixed inset-0 z-10 w-screen h-screen flex justify-center items-center backdrop-brightness-60">
    <div class="relative w-200 bg-white shadow-lg shadow-neutral-500 rounded-xl">
        <button class="absolute top-3 right-3">
            <svg lucideX [size]="24" class="text-app-text-secondary"></svg>
        </button>
        <div class="p-6">
            <h2 class="text-2xl font-semibold">Anillo 14k oro amarillo 15.2grs.</h2>
            <p class="font-mono text-app-text-secondary">1234567</p>
        </div>
        <hr class="border-t border-app-field-border">
        <div class="p-6 space-y-4">
            <section class="flex w-full gap-4">
                <div class="flex-1 p-4 space-y-1 rounded-lg border border-app-border bg-app-background">
                    <h3 class="text-xs uppercase font-medium text-app-text-secondary">Costo (compra)</h3>
                    <span class="text-2xl font-semibold">$20.00</span>
                </div>
                <div class="flex-1 p-4 space-y-1 rounded-lg border border-app-border bg-app-background">
                    <h3 class="text-xs uppercase font-medium text-app-text-secondary">Precio (venta)</h3>
                    <span class="text-2xl font-semibold">$185.00</span>
                </div>
                <div class="flex-1 p-4 space-y-1 rounded-lg border border-app-border bg-app-background">
                    <h3 class="text-xs uppercase font-medium text-app-text-secondary">Peso</h3>
                    <span class="text-2xl font-semibold">5.2g</span>
                </div>
            </section>
            <section class="space-y-3">
                <h2 class="text-sm uppercase font-semibold text-app-text-muted">General</h2>
                <div class="flex gap-8">
                    <div class="flex-1">
                        <dl>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">Descripción</dt>
                                <dd>anillo</dd>
                            </div>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">Unidad (compra)</dt>
                                <dd>Unidades</dd>
                            </div>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">Peso de piedras</dt>
                                <dd>0.3</dd>
                            </div>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">Impuesto proveedor</dt>
                                <dd>ITBMS</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="flex-1">
                        <dl>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">Unidad de medición</dt>
                                <dd>Unidades</dd>
                            </div>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">No. de empeño</dt>
                                <dd>P-000123</dd>
                            </div>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">Observaciones</dt>
                                <dd>Buen estado</dd>
                            </div>
                            <div class="flex py-2 border-b border-app-border">
                                <dt class="flex-1 text-app-text-secondary">Impuesto cliento</dt>
                                <dd>ITBMS</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </section>
            <section class="space-y-3">
                <h2 class="text-sm uppercase font-semibold text-app-text-muted">Etiquetas</h2>
                <span
                    class="px-3 py-1 border border-dashed rounded-full border-app-text-bordmuteder text-app-text-muted">Sin
                    definir</span>
            </section>
        </div>
        <hr class="border-t border-app-field-border">
        <div class="p-6 w-full flex justify-end">
            <button class="rounded-lg p-2 bg-indigo-600 hover:bg-indigo-700 text-white duration-150">Seleccionar</button>
        </div>
    </div>
</div>