<div class="bg-white border border-app-border rounded-lg p-4 space-y-4">
    <div class="flex gap-4">
        <div class="flex-1 space-y-1">
            <a [routerLink]="['/transfers', summary().id]" class="text-lg font-semibold hover:underline">
                {{ summary().pushDate() }}
            </a>
            <p class="text-app-text-muted">
                {{ summary().id }}
            </p>
        </div>
        <span
            class="h-fit px-3 py-1 rounded-full border uppercase text-xs font-semibold"
            [class.bg-app-indigo-50]="summary().status === JobStatus.Completed"
            [class.border-app-indigo-300]="summary().status === JobStatus.Completed"
            [class.text-app-indigo-800]="summary().status === JobStatus.Completed"
            [class.bg-app-yellow-50]="summary().status === JobStatus.Processing"
            [class.border-app-yellow-300]="summary().status === JobStatus.Processing"
            [class.text-app-yellow-800]="summary().status === JobStatus.Processing"
            [class.bg-app-neutral-50]="summary().status === JobStatus.Pending"
            [class.border-app-neutral-300]="summary().status === JobStatus.Pending"
            [class.text-app-neutral-800]="summary().status === JobStatus.Pending"
        >{{ summary().status }}</span>
    </div>
    <div class="space-y-2">
        <div class="w-full h-2 rounded-full overflow-hidden flex items-stretch bg-app-neutral-200">
            <div class="h-full bg-app-success"
                [style]="{'width': summary().successCount() / summary().totalRecount() * 100 + '%'}"></div>
            <div class="h-full bg-app-error"
                [style]="{'width': summary().failureCount() / summary().totalRecount() * 100 + '%'}"></div>
            <div class="h-full bg-app-pending"
                [style]="{'width': summary().pendingCount() / summary().totalRecount() * 100 + '%'}"></div>
        </div>
        <div class="flex gap-4 items-center">
            <div class="flex gap-1 items-center text-app-text-secodnary">
                <i class="size-2 rounded-full bg-app-success"></i>
                Éxito ({{ summary().successCount() }})
            </div>
            <div class="flex gap-1 items-center text-app-text-secodnary">
                <i class="size-2 rounded-full bg-app-error"></i>
                Fracaso ({{ summary().failureCount() }})
            </div>
            <div class="flex gap-1 items-center text-app-text-secodnary">
                <i class="size-2 rounded-full bg-app-pending"></i>
                Pendiente ({{ summary().pendingCount() }})
            </div>
        </div>
    </div>
    <hr class="border-t border-app-field-border">
    @if (summary().hasError()) {
        @let error = summary().latestError!;
        <div class="w-full flex gap-3 p-2 border border-app-red-200 bg-app-red-50 rounded-lg">
            <div>
                <svg lucideCircleAlert [size]="18" class="mt-1 text-app-red-600"></svg>
            </div>
            <div class="flex-1">
                <p class="text-app-red-800">
                    <b class="font-semibold">
                        @if (error.hasDescription()) {
                            {{ error.description }}
                        } @else {
                            Error no controlado
                        }
                    </b>
                    {{ error.message }}
                </p>
            </div>
        </div>
    } @else {
        <p class="text-app-text-secondary">Sin errores registrados.</p>
    }
</div>