@font-face {
    src: url('/font/Barlow-Thin.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-ThinItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-ExtraLight.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-ExtraLightItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-Light.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-LightItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-Regular.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-Italic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-Medium.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-MediumItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-SemiBold.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-SemiBoldItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-Bold.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-BoldItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-ExtraBold.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-ExtraBoldItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-Black.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    src: url('/font/Barlow-BlackItalic.ttf') format('truetype');
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-Thin.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-ThinItalic.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-ExtraLight.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-ExtraLightItalic.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-Light.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-LightItalic.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-Regular.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-Italic.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-Medium.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-MediumItalic.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-SemiBold.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-SemiBoldItalic.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-Bold.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url('/font/IBMPlexMono-BoldItalic.ttf') format('truetype');
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}
